@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;800;900&family=Poppins:wght@300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #2a2a2a;
  --second-bg-color: #202020;
  --text-color: #fff;
  --second-color: #ccc;
  --main-color: #ff4d05;
  --big-font: 5rem;
  --h2-font: 3rem;
  --p-font: 1.1rem;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

#menu-icon {
  font-size: 35px;
  color: var(--text-color);
  z-index: 1000;
  cursor: pointer;
  margin-left: 30px;
  display: none;
}

span {
  color: var(--main-color);
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  padding: 22px 15%;
  border-bottom: 1px solid transparent;
  transition: all 0.45s ease;
}

header img {
  width: 65px;
  margin-right: 20px;
}

.logo {
  color: var(--text-color);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-right: 450px;
}

.navlist {
  display: flex;
}

.navlist a {
  color: var(--text-color);
  font-size: 19px;
  font-weight: 700;
  margin: 0 25px;
  transition: all 0.45s ease;
}

.navlist a:hover {
  color: var(--main-color);
}

.navlist a.active {
  color: var(--main-color);
}

section {
  padding: 160px 15% 120px;
}

.home {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url(uks.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.slide {
  margin-bottom: 20px;
}

.home-text h1 {
  color: var(--text-color);
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.1;
  margin: 0 0 8px;
}

.home-text h3 {
  color: var(--text-color);
  margin: 0 0 35px;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.1;
}

.button {
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.btn {
  display: inline-block;
  padding: 12px;
  background: var(--main-color);
  border-radius: 5px;
  color: var(--text-color);
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 500;
  transition: all 0.45s ease;
}

.btn:hover {
  transform: scale(0.9);
}

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
}

.about-img img {
  max-width: 530px;
  height: auto;
  width: 70%;
  border-radius: 5px;
}

.about-text h2 {
  margin-left: -9rem;
  font-size: var(--h2-font);
  line-height: 1;
  margin-bottom: 15px;
}

.about-text p {
  margin-left: -9rem;
  color: var(--second-color);
  font-size: 1.3rem;
  font-family: "Times New Roman", Times, serif;
  line-height: 1.8;
  margin-bottom: 4rem;
}

.projects {
  background: var(--second-bg-color);
}

.projects-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, auto));
  align-items: center;
  gap: 2.5rem;
  margin-top: 5rem;
}

.row {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
}

.row img {
  width: 100%;
  border-radius: 8px;
  display: block;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.1), #ff4d05);
  position: absolute;
  border-radius: 8px;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px;
  transition: height 0.5s;
}

.layer h5 {
  font-size: 20px;
  font-weight: 600;
}

.row:hover img {
  transform: scale(1.1);
}

.row:hover .layer {
  height: 20%;
}

.main-text {
  text-align: center;
}

.main-text h2 {
  font-size: var(--h2-font);
  line-height: 1;
}

.services-satu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2.3rem;
}

.title {
  font-size: var(--h2-font);
  line-height: 1;
  text-align: center;
  margin-bottom: 20px;
}

.faq {
  max-width: 700px;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #fff;
  cursor: pointer;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question h3 {
  font-size: 1.4rem;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.4s ease;
}

.answer p {
  padding-top: 1rem;
  line-height: 1.6;
  font-size: 1.1rem;
}

.faq.active .answer {
  max-height: 300px;
  animation: fade 1s ease-in-out;
}

.faq.active svg {
  transform: rotate(180deg);
}

svg {
  transition: transform 0.5s ease-in;
}

.buttonhe {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.contact {
  background: var(--second-bg-color);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2.5rem;
}

.contact-text {
  margin-left: 100px;
}

.contact-text h2 {
  font-size: var(--h2-font);
  line-height: 1;
  margin-bottom: 10px;
}

.list {
  margin-bottom: 2.8rem;
}

.list li {
  margin-bottom: 12px;
}

.list li a {
  display: block;
  color: var(--second-color);
  font-size: 20px;
  transition: all 0.45s ease;
}

.list li a:hover {
  color: var(--text-color);
  transform: translateY(5px);
}

.contact-icons i {
  height: 80px;
  width: 80px;
  color: var(--text-color);
  font-size: 22px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-right: 15px;
  transition: all 0.45s ease;
}

.contact-icons i:hover {
  color: var(--main-color);
}

.contact-form {
  margin-right: 75px;
}

.contact-form form {
  position: relative;
}

.contact-form form input,
form textarea {
  width: 100%;
  padding: 14px;
  background-color: var(--bg-color);
  color: var(--text-color);
  border: none;
  outline: none;
  font-size: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.contact-form textarea {
  resize: none;
  height: 240px;
}

.contact-form .submit {
  display: inline-block;
  font-size: 14px;
  background: var(--main-color);
  color: var(--text-color);
  width: 140px;
  transition: all 0.45 ease;
}

.contact-form .submit:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.end {
  padding: 20px 15%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  background: var(--bg-color);
}

.last-text p {
  color: var(--second-color);
  font-size: 14px;
}

.top i {
  padding: 10px;
  border-radius: 8px;
  font-size: 15px;
  color: var(--text-color);
  background: var(--main-color);
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (max-width: 1480px) {
  header {
    padding: 12px 2.5%;
    transition: 0.1s;
  }

  section {
    padding: 110px 3% 60px;
  }

  .home {
    width: 100%;
    background-size: cover;
    background-position: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .home-text {
    padding-left: 4rem;
  }

  .home-text h1 {
    font-size: 3.2rem;
  }

  .home-text h3 {
    font-size: 1.8rem;
  }

  .about {
    display: grid;
    grid-template-columns: 35% 65%;
  }

  .about-img img {
    width: 75%;
    margin-left: 5rem;
  }

  .about-text h2 {
    margin-left: -1.5rem;
    font-size: 2.3rem;
  }

  .about-text p {
    margin-left: -1.5rem;
    font-size: 1.1rem;
  }

  .main-text h2 {
    font-size: 2.3rem;
  }

  .layer h5 {
    font-size: 23px;
    margin: 12px 0;
  }

  .layer p {
    font-size: 1.2rem;
  }

  .layer i {
    margin-top: 20px;
    font-size: 20px;
    width: 60px;
    height: 60px;
  }

  .title {
    font-size: 2.3rem;
  }

  .question h3 {
    font-size: 1.2rem;
  }

  .answer p {
    font-size: 0.9rem;
  }

  .contact-text h2 {
    font-size: 2.3rem;
  }

  .end {
    padding: 15px 3%;
  }
}

@media (max-width: 1100px) {
  header {
    padding: 6px 1.5%;
    transition: 0.1s;
  }

  .logo {
    font-size: 25px;
  }

  .navlist {
    margin-left: -50px;
  }

  .navlist a {
    font-size: 15px;
    margin-left: -3px;
  }

  .one {
    font-size: 17px;
  }

  .two {
    font-size: 17px;
  }

  .home-text h1 {
    font-size: 2.3rem;
  }

  .home-text h3 {
    font-size: 1.5rem;
  }

  .btn {
    font-size: 0.7rem;
  }

  .about-text h2 {
    font-size: 2rem;
    margin-left: 1rem;
  }

  .about-text p {
    font-size: 18px;
    margin-left: 1rem;
  }

  .main-text h2 {
    font-size: 2rem;
  }

  .box h3 {
    font-size: 18px;
  }

  .box p {
    font-size: 0.8rem;
  }

  .projects-content {
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  }

  .layer h5 {
    font: 17px;
    margin: 10px 0;
  }

  .layer p {
    font-size: 14px;
  }

  .layer i {
    margin-top: 15px;
    font-size: 25px;
    width: 40px;
    height: 40px;
  }

  .title {
    font-size: 2rem;
  }

  .question h3 {
    font-size: 1rem;
  }

  .answer p {
    font-size: 18px;
  }

  .contact-text h2 {
    font-size: 1.8rem;
  }

  .contact-form .submit {
    font-size: 12px;
    width: 125px;
  }

  .end {
    padding: 10px 2%;
  }
}

@media (max-width: 920px) {
  header {
    padding: 13px;
    transition: 0.1s;
  }

  .logo {
    font-size: 1.5rem;
    margin-left: -5px;
  }

  #menu-icon {
    display: block;
  }

  .navlist {
    position: absolute;
    top: -1000px;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    text-align: left;
    transition: all 0.45s ease;
  }

  .navlist a {
    display: block;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 4rem;
    font-size: 15px;
    transition: all 0.45s ease;
  }

  .navlist a:hover {
    color: var(--main-color);
  }

  .navlist a.active {
    color: var(--text-color);
  }

  .navlist.open {
    top: 100%;
  }

  .one {
    font-size: 14px;
  }

  .two {
    font-size: 14px;
  }

  .home-text h1 {
    font-size: 2rem;
  }

  .home-text h3 {
    font-size: 1.2rem;
  }

  .about {
    display: grid;
    grid-template-columns: 45% 55%;
  }

  .about-img img {
    width: 70%;
    margin-top: -4rem;
  }

  .about-text h2 {
    font-size: 1.8rem;
    margin-left: -1rem;
  }

  .about-text p {
    font-size: 15px;
    margin-left: -1rem;
  }

  .main-text h2 {
    font-size: 1.8rem;
  }

  .services-content {
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  }

  .box h3 {
    font-size: 15px;
  }

  .projects-content {
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  }

  .question h3 {
    font-size: 1rem;
  }

  .answer p {
    font-size: 15px;
  }

  .contact-text h2 {
    font-size: 1.2rem;
  }

  .list li a {
    font-size: 15px;
  }

  .contact-icons i {
    height: 50px;
    width: 50px;
    margin-right: 5px;
  }

  .contact-form .submit {
    font-size: 11px;
    width: 110px;
  }

  .end {
    padding: 7px 1.8%;
  }
}

@media (max-width: 480px) {
  header img {
    margin-left: 39rem;
    margin-right: -19rem;
  }

  .logo {
    font-size: 1.5rem;
  }

  #menu-icon {
    display: block;
    margin-right: 39rem;
  }

  .navlist {
    position: absolute;
    top: -1000px;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    text-align: left;
    transition: all 0.45s ease;
  }

  .navlist a {
    display: block;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 4rem;
    font-size: 15px;
    transition: all 0.45s ease;
  }

  .navlist a:hover {
    color: var(--main-color);
  }

  .navlist a.active {
    color: var(--text-color);
  }

  .navlist.open {
    top: 100%;
  }

  .home-text {
    margin-left: -2rem;
  }

  .home-text h1 {
    font-size: 2rem;
  }

  .home-text h3 {
    font-size: 1.5rem;
  }

  .about {
    gap: 0;
  }

  .about-img img {
    margin-left: 1rem;
    margin-top: 1px;
    width: 100%;
  }

  .about-text h2 {
    font-size: 1.5rem;
    margin-left: -4rem;
  }

  .about-text p {
    font-size: 13px;
    margin-left: 25px;
    margin-top: 25px;
  }

  .main-text h2 {
    font-size: 1.5rem;
  }

  .box h3 {
    font-size: 14px;
  }

  .projects-content {
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  }

  .layer h5 {
    font: 14px;
    margin: 7px 0;
  }

  .services-satu {
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  }

  .title {
    font-size: 1.5rem;
  }

  .question h3 {
    font-size: 1rem;
  }

  .answer p {
    font-size: 15px;
  }

  .contact-text h2 {
    font-size: 1.5rem;
    margin: -17.5rem -11rem 20rem -0.1rem;
  }

  .contact-text p {
    font-size: 13px;
    display: none;
  }

  .contact-text .list {
    display: none;
  }

  .contact-icons i {
    font-size: 20px;
    margin-right: 1px;
    display: none;
  }

  .contact-form form input,
  form textarea {
    font-size: 13px;
    margin-bottom: 10px;
    margin-left: -5rem;
    width: 15rem;
  }

  .contact-form form textarea {
    margin-bottom: 35px;
  }

  .contact-form .submit {
    font-size: 11px;
    width: 110px;
    margin: 0 10px 0 -5rem;
  }

  .top {
    display: none;
  }
}
